<!DOCTYPE html>
<!-- This is for using Thymeleaf -->
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Person Management System</title>
<!-- Compiled and minified CSS -->
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

<link th:href="@{/css/style.css}" rel="stylesheet" />
<!-- Compiled and minified JavaScript -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</head>

<body style="max-width: 960px; margin: 16px auto; padding: 16px">
	<div id="bodydiv">
		<nav th:replace="~{header :: header}"></nav>
		<br>
		<h3 style="margin-left: 10px">
			Person List : <a th:text="${size}">...</a>
		</h3>
		<!-- The link which sends GET request to "/showNewPersonForm"  -->
		<a th:href="@{/create}" class="waves-effect waves-light btn">Add
			new person</a> <a th:href="@{/}" class="waves-effect waves-light btn">Back</a>
		<div align="center" style="margin-top: 20px;">
			<div
				style="overflow-x: hidden; overflow-y: auto; height: 350px; text-align: center; padding: 20px; text-align: left;">
				<table border="1" class="table table-striped table-responsive-md"
					cellpadding="10">
					<thead>
						<tr> <th>#</th>
							<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=id&sortDir=' + ${reverseSortDir}}">
									ID </a></th>
							<th><a
								th:href="@{'/page/' + ${currentPage} +  '?sortField=fname&sortDir=' + ${reverseSortDir}}">
									Fname </a></th>
							<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=lname&sortDir=' + ${reverseSortDir}}">
									Lname </a></th>
							<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=street&sortDir=' + ${reverseSortDir}}">
									Street </a></th>
							<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=city&sortDir=' + ${reverseSortDir}}">
									City </a></th>
							<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=state&sortDir=' + ${reverseSortDir}}">
									State </a></th>
							<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=zip&sortDir=' + ${reverseSortDir}}">
									Zip </a></th>
							<th><a
								th:href="@{'/page/' + ${currentPage} + '?sortField=phone&sortDir=' + ${reverseSortDir}}">
									Phone </a></th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						<!-- You can access model attributes which are added in a Controller(PersonController.java) with ${attributeName}.
				 In this case, it is "${listPersons}".
			     To show all persons data in this table, you need to use "th:each" in the thymeleaf template and iterate the person of listPersons -->
						
					 
						<tr th:each="person: ${listPersons}"> 
							<td th:text="${db.indexOf(person)}"></td>
							<td th:text="${person.id}"></td>
							<td th:text="${person.fname}"></td>
							<td th:text="${person.lname}"></td>
							<td th:text="${person.street}"></td>
							<td th:text="${person.city}"></td>
							<td th:text="${person.state}"></td>
							<td th:text="${person.zip}"></td>
							<td th:text="${person.phone}"></td>
							<td>
								<!-- The link which sends GET request to "/showFormForUpdate/{id}" (id is person.id) -->
								<a th:href="@{/edit/{id}(id=${person.id})}"
								class="waves-effect waves-light btn">Update</a>
							</td>
							<td>
								<!-- The link which sends GET request to "/delete/{id}" (id is person.id)  -->
								<a th:href="@{/delete/{id}(id=${person.id})}"
								class="waves-effect waves-light btn red litghten-2">Delete</a>
							</td>
						</tr> 
					</tbody>
				</table>
			</div>
			<div>&nbsp;</div>
			<div>
				<h4>Sorted by [[${sortField}]] in [[${sortDir}]] order</h4>
				<hr>
				<br>
				<div th:if="${totalPages > 1}"
					style=" overflow-x: hidden; overflow-y: auto; text-align: center; padding: 20px; text-align: left;">
 
					Total Items: [[${totalItems}]]
					&nbsp;&nbsp;&nbsp;-&nbsp;&nbsp;&nbsp; <a th:if="${currentPage > 1}"
						th:href="@{'/page/1' + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">First</a>
					<span th:unless="${currentPage > 1}">First</span> &nbsp;&nbsp; <a
						th:if="${currentPage > 1}"
						th:href="@{'/page/' + ${currentPage - 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Previous</a>
					<span th:unless="${currentPage > 1}">Previous</span> &nbsp;&nbsp; <span
						th:each="i: ${#numbers.sequence(1, totalPages)}"> <a
						th:if="${currentPage != i}"
						th:href="@{'/page/' + ${i} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}  + '&pageSize=' + ${pageSize}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp;
					</span> <a th:if="${currentPage < totalPages}"
						th:href="@{'/page/' + ${currentPage + 1} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
					&nbsp;&nbsp; <a th:if="${currentPage < totalPages}"
						th:href="@{'/page/' + ${totalPages} + '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
				</div>
			</div>
			<div>&nbsp;</div>

		</div>

	</div>
	<script type="text/javascript">
		function changePageSize() {
			$("#searchForm").submit();
		}
	</script>
</body>
</html>